/* Imported Mixin */
@import "mixin";
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap');
$clicker-Script: 'Clicker Script', sans-serif;
$ProximaNova: 'Proxima Nova', sans-serif;
$KaushanScript: 'Montserrat', sans-serif;
$montserrat:'Montserrat', sans-serif;
/* Media Screen */
$screen-xs: 768px;
/* Colors Variables */
$bg-side-bar: #242526;
$bg-main-content: #18191a;
$body-color: #7a7a7a;
$primary: #d79d4b;
$secondary: #ffffff;
$text-color:#c3c3c3;
$link-text: #c3c3c3;
$link-bg: #3e4041;
$link-active-bg: #18191a;
$hero-banner-bg: #1e1e1f;
$border-color: rgba(255, 255, 255, 0.1);
$rgba-1: rgba(255, 255, 255, 0.5);
$btn-text:white;
$btn-bg:#d79d4b;
$black: #000;
$white: #ffffff;
$shadow-1: 0 5px 15px rgba(255, 255, 255, 0.1);
$shadow-2: 0 5px 15px rgba(255, 255, 255, 0.3);

:root {
  --main-color: #d79d4b;
  --shadow-black-100: 0 5px 15px rgba(255, 255, 255, 0.1);
  --shadow-black-300: 0 5px 15px rgba(255, 255, 255, 0.3);
  --black-900: #c3c3c3;
  --black-400: #555555;
  --black-100: #f7f7f7;
  --white: #fff;
  --black-alpha-100: rgba(255, 255, 255, 0.5);
}
.container{
  padding: 0 25px;
  @media screen and (max-width: 376px){
    padding: 0 13px;
  }
}
body {
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: $body-color;
  font-family: $KaushanScript !important;
}
* {
  margin: 0;
  padding: 0;
  outline: none !important;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a, a:hover {
  text-decoration: none;
}
h1,.h1{
  font-size: 60px;
  font-weight: 600;
}
h4,.h4{
  font-size: 30px;
  font-weight: 600;
}
/*--Section Style--*/
.section-padding {
  padding: 80px 0;
}
.section-title {
  margin-bottom: 60px;
  h2,.h2{
    font-size: 30px;
    color: $text-color;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    span {
      color: $primary;
    }
  }
  h4,.h4{
    display: block;
    font-size: 25px;
    font-weight: 700;
    color: $text-color;
    text-transform: capitalize;
    text-align: center;
  }
}
/*--Carousel Style --*/
.owl-carousel{
  .owl-dots
  {
    padding: 0 15px;
    text-align: center;
    margin-top: 20px;
  }
  button.owl-dot
  {
    height: 6px;
    width: 24px;
    background-color: $secondary;
    display: inline-block;
    margin: 0 4px;
    border-radius: 5px;
    &.active
    {
      background-color:$primary;
    }
  }
}
/*--Btn-Style--*/
.btn-style {
  display: inline-block;
  background-color: $btn-bg;
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  color: $btn-text;
  font-size: 16px;
  text-transform: capitalize;
  box-shadow: $shadow-2;
  font-weight: 500;
 @include mxTransition(all 0.5s ease);
  &.btn-1 {
    &:hover {
      color: $btn-bg;
      background-color: $btn-text;
    }
  }
  &.btn-2 {
    background-color: $btn-text;
    color: $btn-bg;
    box-shadow: $shadow-1;
    &:hover {
      color: $btn-text;
      background-color: $btn-bg;
    }
  }
}
/*--Hide scrollbar for Chrome, Safari and Opera--*/
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*--Form Style --*/
.form-group{
  margin-bottom: 25px;
  .form-control{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    height: 52px;
    border: 2px solid transparent;
    box-shadow: $shadow-2;
    border-radius: 30px;
    padding: 0 24px;
    color: $black;
    background-color:$white;
    transition: 0.5s ease;
    &:focus {
      border-color: $primary;
    }
  }
  textarea {
    height: 150px !important;
    padding: 20px  !important;
    resize: none;
  }
}





